article, p {
	font-family: Play;
	font-size: 20px;
	line-height: 26px;
	text-align: justify;
}

article {
	padding: 15px 25% 15px 5%;
}

article > p {
	padding-left: 20px;
	border-left: 5px double dimgray;
}

body {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	background: aliceblue url("../Graphics/Suitcase_Tags.png") repeat;
}

main {
	position: relative;
	width: auto;
	margin: 20px 0 0 20%;
	box-shadow: -4px -4px 3px 1px dimgray;
	background-color: rgba(250, 250, 250, 0.95);
	bottom: 0; 
	height: auto;
}

h1 {
	font-family: "Allerta Stencil";
	font-size: 35px;
	color: white;
	text-shadow: -1px -1px 1px dimgray, 1px 1px 1px #7efcef;
}

#titleText {
	color: black;
	font-size: 50px;
	font-family: "Allerta Stencil";
	font-weight: bold;
	font-variant: small-caps;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

h3 {
	margin-top: 30px;
}

ul {
	list-style-type: square;
}

li {
	padding-top: 5px;
	color: #444444;
}


.date {
	font-family: Magneto;
	color: rgb(40, 169, 255);
	font-weight: bolder;
	text-decoration: underline;
}

.sub-list > li {
	list-style-type: circle;
	font-size: 14px;
	margin-right: 5%;
	color: #888888;
}

pre {
	display: inline;
	background-color: rgb(201, 201, 201);
	font-family: Courier, monospace;
	border: 1px solid dimgray;
	border-radius: 5px;
	padding: 1px 3px;
}
