
body {
	margin: 0px;
	padding: 0px;
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
}

#modalWindow {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-image: url("../Graphics/Black_Block.png");	
	z-index: 16;
	animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		visibility: hidden;
	}
	to {
		opacity: 1;
		visibility: visible;
	}
}

#modalForm {
	display: block;
	position: absolute;
	top: 47%;
	transform: translateY(-50%);
	height: auto;
	min-height: 500px;
	width: 50%;
	border: 8px ridge white;
	border-radius: 15% 0% 15% 0%;
	background-color: aliceblue;
	z-index: 100;
	animation: slideIn 1s ease-in forwards;
}

@keyframes slideIn {
	from {
		right: 100%;
	}
	to {
		right: 25%;
	}
}

#modalWindow input[type="button"] {
	font-family: Roboto;
	font-size: 16px;
	font-weight: bolder;
	width: 80px;
	padding: 10px 5px;
	line-height: 15px;
	position: relative;
	border-radius: 10px 0 10px 0;
	display: inline;
	margin: 5% 10%;
}

#modalWindow input[type="radio"] {
	font-family: Arial; 
	font-weight: bold;
	font-size: 14px;
	color: black;
	margin-left: 20px;
}

#logType {
	border: none;
	display: block;
	position: relative;
}

#logType input {
	position: relative;
	margin-left: 20px;
	padding-left: 10px;
	cursor: pointer;
	border: 1px 1px white;
	border-radius: 50%;
}

#logType label {
	display: inline-block;
	font-family: Arial;
	font-weight: bold;
	font-size: 24px;
	position: relative;
	margin-right: 30px;
}
	

fieldset {
	position: relative;
	top: 20px;
	margin: 20px;
	text-align: center;
}


.textInput {
	position: relative;
	display: block;
	width: 90%;
	height: 100px;
	border: 2px white;
	margin: 20px auto;
	overflow: hidden;
	resize: vertical;
	background-color: aliceblue;
}

#tripDescrip {
	display: block;
	width: 90%;
	min-height: 100px;
	margin: auto;
	background-color: white;
	font-family: Roboto;
	font-size: 20px;
	color: black;
	vertical-align: text-top;
	resize: vertical;
}

#modalBtns {
	position: absolute;
	text-align: center;
	width: 100%;
	display: block;
	margin: auto;
	left: 0;
}

#leftPane {
	background: rgba(240, 248, 255, 0.8) url("../Graphics/Suitcase_Tags.png") repeat;
	background-size: 25%;
	background-position: center;
	left: 0;
	width: 50%;
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow-x: hidden;
	position: fixed;
	z-index: 2;
	background-attachment: fixed;
}

#mapContainer {
	display: inline-block;
	position: absolute;
	left: 50%;
	width: 50%;
	height: 100%;
	padding: 0px;
	overflow: hidden;
	z-index: 7;
}

#mainHeadingHR {
	position: relative;
	width: 95%;
	padding: 10px;
}

	.mainHeadingHR {
		position: absolute;
		width: 100%;
		margin: 0px; 
		padding: 0px;
		border: 0px;
		height: 3px;
		background: white;
	}

	#mainHeadingHR1 {
		background: linear-gradient(to left, rgba(255, 255, 255, 0), dimgray, rgba(255, 255, 255, 0));
		top: -1.2px;
		left: -2px;
	}

	#mainHeadingHR2 {
		background: linear-gradient(to left, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
		top: -1px;
		left: 0px;
		height: 4px;
	}

	#mainHeadingHR3 {
		background: linear-gradient(to left, rgba(255, 255, 255, 0), #7efcef, rgba(255, 255, 255, 0));
		top: 3px;
		left: 2px;
		height: 2px;
	}


.tripMenuHR {
	border: 0px;
	height: 2px;
	width: 60px;
	float: right;
	position: relative;
	margin: 0px;
	padding: 0px;
	background: linear-gradient(to left, white, black, white);
}

#tripsContainer {
	position: relative;
	height: auto;
	width: 95%;
	min-height: 100%;
	background-image: url("../Graphics/White_Block.png");
	top: 100px;
	padding: 0 20px 10% 0;
	bottom: -50px;
	left: 5%;
	border-radius: 15% 0 0 0;
	box-shadow: -4px -4px 15px dimgray;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 6;
}

.trip {
	background: lightgray;
	box-shadow: -2px 2px 2px dimgray; 
	position: relative; 
	left: 10%; 
	top: 40px;
	margin-top: 40px;
	overflow-x: hidden; 
	width: 90%;
	height: 80px;
	padding-bottom: 5%; 	
	display: block;
	overflow: hidden;
}

	.tripClicked {
		height: auto;
		display: block;
		width: 90%;
		position: relative;
		background: lightgray;
		box-shadow: -2px 2px 2px dimgray; 
		left: 10%; 
		top: 40px;
		padding-bottom: 5%;
		overflow: hidden;
		margin-top: 40px;
	}

	.trip:hover, .tripClicked:hover {
		cursor: pointer;
	}


#btnsBar {
	position: absolute;
	display: block;
	width: auto;
	z-index: 15;
	bottom: 0%;
	left: 0;
	top: 0;
	margin-top: 10%;
	padding: 0px;
	border-radius: 15% 0% 15% 0%;
}

	#btnsBar:hover {
		cursor: pointer;
	}


#glyphOne {
	transform: rotate(0deg);
	transition: transform ease-out 1s;
}


#toolsNavBar {
	position: absolute;
	display: none;
	height: auto;
	width: 80px;
	right: 0;
	left: 0;
	float: right;
	margin: 0px;
	padding: 0px;
	top: 80px;
	border-radius: 10% 0px 10% 0px;
}

#toolsNavBar > button {
	display: block;
	position: relative;
	width: 70px;
	height: 70px;
	float: right;
	border-radius: 0px;
	border: 0px;
	background-color: gray;
	font-family: Helvetica;
	font-size: 50px;
}

	#toolsNavBar > button:hover {
		background-color: silver;
		border-radius: 15% 0 15% 0;
	}

legend {
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 25px;
	text-shadow: 1px 1px 1px #00ffe6, -1px -1px 1px dimgray;
}

#dropRightBtn {
	position: relative;
	display: absolute;
	width: 80px;
	height: 80px;
	vertical-align: middle;
	margin: 0 0 0 0;
	padding: 0px;
	font-family: Rockwell;
	font-size: 32px;
	font-weight: bolder;
}


#addTripBtn {
	font-family: Roboto;
	font-size: 24px;
	font-weight: bold;
	width: 150px;
	height: 80px;
	position: relative;
	display: inline;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}

	#addTripBtn:hover, #dropRightBtn:hover {
		background-color: #d6d4d4;
		box-shadow: 0px 0px 10px 2px white;
	}


#titleHeader {
	color: white;
	font-family: "Allerta Stencil";
	text-align: center;
	font-size: 50px;
	font-variant: small-caps;
	line-height: 0px;
	text-shadow: 2px 2px 1px #00ffe6, -2px -2px 1px dimgray;
} 

#headDiv {
	position: fixed;
	display: block;
	width: 50%;
	margin: 0 auto;
	z-index: 7;
}

.btn {
	background-color: MediumSeaGreen;
	color: white;
	box-shadow: 0 0 0 silver;
	transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
	border: none;
}

	.btn:hover {
		background-color: white;
		color: MediumSeaGreen;						/* Teal: Hex Code... #0eb7b7 */
		box-shadow: 2px 2px 1px Gray;
	}

	.btn:focus, .btn:active, .btn:visited {
		border: none;
		box-shadow: none;
	}


#XButton {
	position: absolute;
	color: white;
	right: 50px;
	font-family: Rockwell;
	border: none;
	background: none;
	font-weight: bolder;
	font-size: 75px;
	margin: 0px;
	padding: 0px;
}

	#XButton:hover {
		cursor: pointer;
		background: none;
		box-shadow: none;
	}

