
body {
	margin: 0px;
	padding: 0px;
	background-color: Black;
	width: 100%;
	height: 100%;
	position: absolute;
}
	body:focus,
	button:focus,
	input:focus,
	textarea:focus,
	select:focus {
		outline: none;
	}


#modalWindow {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-image: url("../Graphics/Black_Block.png");	
	z-index: 1000000;
	animation: fadeIn 1s ease-in forwards;
}


#modalForm {
	display: block;
	position: absolute;
	height: 85%;
	min-height: 50%;
	max-height: 90%;
	width: 50%;
	border-radius: 50px 0 50px 0;
	box-shadow: -2px -2px 15px 5px White;
	background-color: LightGray;
	z-index: 100;
	left: 25%;
	margin-top: 25px;
	overflow: hidden;
	animation: slideUp 1.0s 0.1s ease forwards; 
}

	#modalForm > div {
		width: 100%;
		height: 100%;
		overflow-y: scroll;
	}

	#modalForm input[type="button"] {
		font-family: Roboto;
		font-size: 16px;
		font-weight: bolder;
		width: 80px;
		padding: 10px 5px;
		line-height: 15px;
		position: relative;
		border-radius: 10px 0 10px 0;
		display: inline;
		margin: 2.5% 10%;
	}

	#modalForm > div > h1 {
		font: small-caps 700 54px/54px PT Sans, Helvetica, sans-serif;
		color: White;
		text-shadow: 2px 2px 3px #7EFCEF, -1.5px -1.5px 1px DimGray;
		text-align: center;
	}


input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 1.5px solid DimGray;
    border-radius: 50%;
    outline: none;
    padding: 0;
    margin: auto;
    box-shadow: inset 0.5px 0.5px 5px 2.5px rgba(255, 255, 255, 0.85);
    -moz-box-shadow: inset 0.5px 0.5px 5px 2.5px rgba(255, 255, 255, 0.85);
    -webkit-appearance: none;
	vertical-align: middle;
}

	input[type="radio"]:hover {
	    box-shadow: inset 0.5px 0.5px 5px 3px MediumSeaGreen;
	     -moz-box-shadow: inset 0.5px 0.5px 5px 3px MediumSeaGreen;
	}

	input[type="radio"]:before {
	    content: "";
	    display: block;
	    width: 100%;
	    height: 100%;
	    margin: 0 auto 20% auto;    
	    border-radius: 50%;
	}

	input[type="radio"]:checked:before {
	    background: MediumSeaGreen;
	    width: 60%;
	    height: 60%;
	    margin: 20%;
	    padding: 0;
	}

input[type="date"] {
	text-align: center;
	vertical-align: middle;
	width: 70%; 
	margin: auto;
}

	input[type="date"]:before {
		content: attr(placeholder);
	}
	

#logType {
	display: block;
	position: relative;
	width: 90%;
	height: 100px;
	max-height: 320px;
	margin: 4% auto;
	vertical-align: middle;
	overflow: sc;
}

	.logType_Div label {
		display: inline;
		font: 700 24px/28px Play, Helvetica, sans-serif;
		color: DarkSlateGray;
		position: relative;
		margin: auto;
		width: 30%;
		vertical-align: middle;
	}

	.logType_Div label:hover {
		cursor: pointer;
	}


#logType > div {
	display: block;
	width: 100%;
	height: 270px;
	position: relative;
	margin: 10px 0 0 0;
	padding: 0;
}

.logType_Div {
	display: inline-block;
	width: 49%;
	margin: 0 auto;
	height: 250px;
	padding: 0;
	position: relative;
	vertical-align: top;
	top: 0;
}

	.logType_Div figure {
		display: inline;
		position: relative;
		text-align: center;
		margin: auto 0 7px 10px;
		float: right;
		vertical-align: text-bottom;
		width: 26%;
		height: auto;
		box-shadow: -1px 1px 0.5px DarkSlateGray;
	}
	
	.logType_Div > div img {
		width: 90%;
		height: auto;
	}

	.logType_Div > div:first-child {
		position: relative;
		width: 100%;
		height: 32px;
		margin: auto;
		display: block;
		text-align: center;
		left: 0;
		top: 0;
	}

	.logType_Div div:first-child {
		text-align: center;
		top: 0;	
	}

	.logType_Div div:first-child .info_Glyph {
		position: relative;
		display: inline;
		width: 18px;
		height: 18px;
		padding: 0;
		margin: auto;
		top: 8px;
		text-align: right;
	}

	.logType_Div div:first-child .info_Glyph:hover {
		cursor: pointer;
		content: url("../Graphics/Help_Icon-White.png");
		border-radius: 50%;
		box-shadow: -0.5px -0.5px 2px DimGray;
	}

	.popout_Descrip {
		width: 90%;
		height: auto;
		position: absolute;
		display: none;
		left: 0;
		top: 100%;
		text-align: justify;
		color: White;
		text-align: justify;
		font: oblique 200 17px/17px Play, Helvetica, sans-serif;
		background: LightSteelBlue;
		border: 2px solid DarkSlateGray;
		z-index: 10000;
	}

		.popout_Descrip > div {
			position: relative;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 10px;
			box-sizing: border-box;
		}

		.popout_Descrip > div:before,
		.popout_Descrip > div:after {
			position: absolute;
			content: "";
			width: 0;
			height: 0;
			bottom: 100%;
			left: 80%;
			border: 1px solid Black;
		}

		.popout_Descrip > div:before {
			border-bottom: 0px solid Black;
		}

		.popout_Descrip > div:after {
			border-color: rgba(0, 0, 0, 0);
			border-bottom-color: Black;
			border-width: 10px;
			margin-left: 0;
		}


	.logType_Div figcaption {
		font: 200 14px/15px PT Sans, Droid Sans, Arial, sans-serif;
		text-align: center;
		color: White;
		margin: 0 auto 2px auto;
		display: block;
		position: relative;
	}

	.logType_Div div p.log_Descrip {
		position: relative;
		width: 100%;
		color: #626262;
		text-align: justify;
		font: oblique 500 16px/16px Play, Helvetica, sans-serif;
		margin: 0;
	}


fieldset {
	position: relative;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	border: 2px groove DimGray;
	background: rgb(181, 181, 181);					/*	Gray71	*/
}

.dates_Cont:after {
	position: absolute;
	width: 100%;
	height: auto;
	display: block;
	background: White;
	opacity: 0.5;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	content: "";
}

label[for="select_Country"] {
	font: 700 18px/16px Play, Helvetica, sans-serif;
	color: DarkSlateGray;
	margin: auto;
	padding: 5px 0;
	vertical-align: middle;
	top: 0;
	position: relative;
	display: inline;
	width: 20%;
	text-align: center;
}

label[for="tripDescrip"] {
	font: bold 18px/16px Play, Helvetica, sans-serif;
	display: inline-block;
	color: DarkSlateGray;
	width: 20%;
	margin: auto;
	position: relative;
	padding: 5px 0;
	vertical-align: middle;
	text-align: center;
	top: 0;
	right: 2.5%;
	transform: translateY(50%);
}

label[for="startDate"],
label[for="endDate"] {
	width: 90%;
	display: block;
	text-align: center;
	font: 600 20px/18px Play, Helvetica, sans-serif;	
	margin: 0 auto 5px auto;
	border-bottom: 1px solid DimGray;
}

.tripSummary_Span {
	width: 100%;
	margin: auto;
	position: relative;
	display: inline;
}

.trip_Dates {
	text-align: center;
	vertical-align: middle;
	display: inline;
	margin: auto;
	padding: auto;	
	position: relative;
	width: 70%;
	height: 25px;
	font: 14px/14px Helvetica, Arial, sans-serif;
	top: 0;
}

#tripDates_Field {
	min-height: 100px;
	height: auto;
	margin: auto;
	position: relative;
	vertical-align: middle;
}

#startEndDates_Field {
	position: relative;
	display: block;
}

	#startEndDates_Field > div {
		display: inline-block;
		width: 48%;
		margin: auto auto 7.5px auto;
	}

	#startEndDates_Field > div > span {
		
		font: 700 28px/28px Droid Sans, Play, Helvetica, sans-serif; 
		color: MediumSeaGreen;
		text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
		text-align: center; 
		vertical-align: middle;
	}

	#startEndDates_Field > div > input {
		height: 28px;
		vertical-align: middle;
	}


#datesContainer {
	height: auto;
	width: 84%;
	position: relative;
	display: inline-block;
	float: left;
	margin: auto;
	padding: 0;
	text-align: left;
	vertical-align: middle;
	overflow: visible;
}

.date_Field {
	border: 2px dashed Gray;
	padding: 0;
	width: 100%;
	height: auto;
	margin: 15px 0;
	background: rgba(255, 255, 255, 0.4);
}

.date_Label {
	font: 600 14px/14px Play, Helvetica, sans-serif;
	text-align: center;
	color: DarkSlateGray;
	margin: auto;
	padding: 5px 0;
	display: inline;
	position: relative;
	top: 0;
	width: 20%;
	vertical-align: middle;
} 

.date_Msg {
	width: 90%;
	height: 30px;
	max-height: 60px;
	position: relative;
	text-align: center;
	top: 0;
	display: block;
	margin: auto;
	padding: 5px 10px;
	resize: vertical;
}

select {
	font: bold 16px/16px Helvetica, Arial, sans-serif;
	color: DimGray;
	text-align: center;
	margin: auto auto auto 2.5%;
	padding: 5px 20px;
	width: 72.5%;
	height: auto;
	display: inline;
	right: 0;
	background-color: AliceBlue;
}

	select:hover, select:active, .trip_Dates:focus, .trip_Dates:hover, .trip_Dates:active {
		outline: MediumSeaGreen solid 2px;
		background-color: AliceBlue;
	}

	select:focus {
		outline: MediumSeaGreen solid 2px;
	}

	option {
		font: bolder 16px/16px Helvetica, Arial, sans-serif;
		color: DimGray;		
		border: 1px solid Gray;
	}

	optgroup {
		background: rgba(255, 255, 255, 0.75);
		border: 1px solid Gray;
		text-decoration: overline;
	}

		optgroup > option {
			font: bold 13px/14px Helvetica, Arial, sans-serif;
			color: Silver;
		}

		optgroup > option:before {
			content: "‣";				/* Hex Character Code:  &#8227;	*/
			position: absolute;
			width: auto;
			height: 13px;
			display: inline;
			font: bold 13px/14px Helvetica, Arial, sans-serif;
			color: Gray;
		}


#submit_Btn {
	position: relative;
	display: block;
	margin: 10px auto;
	padding: 10px 5px;
	width: 80px;
	height: 28px;
	font: 700 16px/16px Droid Sans, Helvetica, sans-serif;
	border-radius: 10px 0 10px 0;
}

#addDate_Div {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	position: relative;
	width: 12%;
	margin: auto;
	padding: 0;
	height: auto;
	min-height: 120px;
	text-align: center;
	vertical-align: middle;
	overflow: visible;
	left: 5%;
	top: 15px;
	float: right;
}

#eventAdd_Btn {
	top: 50%;
}

#eventAdd_Btn, #eventRemove_Btn {
	position: relative;
	width: 60px;
	height: 60px;
	padding: 0;
	display: block;
	border-radius: 15% 0 15% 0;
	transform: translateY(-50%) translateX(-50%);
	margin: 25px auto;
	text-align: center;
	flex-grow: 1;
}


#eventAdd_Btn img, #eventRemove_Btn img {
	width: 40px;
	height: auto;
	margin: auto;
	padding: 0;
	text-align: center;
	transition: width 0.5s ease-out;
}

	#eventAdd_Btn:hover img, #eventRemove_Btn:hover img {
		width: 50px;
		height: auto;
		text-align: center;
	}


.date_Field {
	overflow: visible;
}

.newEntry {
	position: relative;
	display: block;
	margin: 5px auto 10px auto;
	padding: 0;
	width: 100%;
	height: auto;
	text-align: center;
}

.newRow {
	width: 100%;
	height: auto;
	display: block;
	margin: 5px auto 10px auto;
	padding: 0;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

.tripSummary_Span {
	text-align: center;
}

#tripDescrip {
	min-height: 100px;
	max-height: 200px;
	width: 70%;
	margin: auto;
	padding: 5px 20px;
	top: 0;
}

#place_Selection {
	width: 100%;
	margin: auto;
	height: auto;
	text-align: left;
}

#summary_Cont {
	vertical-align: middle;
	height: auto;
	margin: auto;
	width: 95%;
	text-align: left;
}


textarea {
	position: relative;
	width: 95%;
	text-align: center;
	margin: auto;
	background-color: White;
	font: 16px/16px Helvetica, Arial, sans-serif;
	color: DimGray;
	vertical-align: text-top;
	resize: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline;
	padding: 5px;
	right: 0;
}
	
	textarea:hover, textarea:focus, textarea:active {
		outline: MediumSeaGreen solid 2px;
		background-color: AliceBlue;
	}

	
.dates_UL {
	height: auto;
}

.dates_UL li {
	height: auto;
	display: block;
}


	.dates_UL > li:nth-child(odd) {
		background-color: rgba(192, 192, 192, 0.25);
	}

	.dates_UL > li:nth-child(even) {
		background-color: rgba(255, 255, 255, 0.0);
	}
	.dates_UL > li:hover {
		background-color: rgba(192, 192, 192, 0.75);
		cursor: pointer;
	}



#modalBtns {
	position: relative;
	text-align: center;
	width: 98%;
	height: 60px;
	display: block;
	margin: auto;
	left: 0;
}

#leftPane {
	background: rgba(240, 248, 255, 0.8) url("../Graphics/Suitcase_Tags.png") repeat;
	background-size: 12%;
	background-position: center;
	left: 0;
	width: 50%;
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow-x: hidden;
	position: fixed;
	z-index: 21;
	background-attachment: fixed;
}

#rightPane {
	display: inline-block;
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0;
	top: 0;
	overflow: hidden;
	z-index: 20;
}



.pathToolBar_Btns {
	position: relative; 
	display: inline-block;
	width: 75px; 
	height: 100%; 
	font: 700 25px/75px Droid Sans, Helvetica, sans-serif;
	background: Gray;
	color: White;
	padding: 0;
	border: none;
	box-shadow: 0 0 0 Silver;
	transition: background 0.5s 0.05s ease, color 0.5s 0.05s ease, box-shadow 0.5s 0.05s ease;
	/* overflow: hidden; */
} 

	.pathToolBar_Btns:hover {
		background: White;
		color: MediumSeaGreen;
		box-shadow: 0 0 5px Silver;
	}

	.pathToolBar_Btns img {
		position: absolute;
		display: block;
		width: 60px;
		height: auto;
		left: 7.5px;
		top: 50%;
		transform: translateY(-50%);
	}


#path_Toolbar {
	position: fixed;
	display: none;
	bottom: 0;
	height: 75px;
	left: 0;
	z-index: 10000;
	background: LightGray;
	/* overflow: hidden; */
	/* transition: left 1.5s 0.05s ease-in-out; */
}

	/* #path_Toolbar > * {
		display: none;
	} */

	#path_Toolbar.activated {
		display: block;
		animation: slideRight 2s 0.1s forwards;
	}

	/* #path_Toolbar.activated * {
		display: block;
		animation: appear 0.5s 2s forwards;
	} */

	#path_Toolbar.deactivated {
		animation: disappear 0.5s 2s forwards;
		/* display: none; */
	}


#color_Palette {
	display: none;
	position: absolute;
	width: 150px;
	height: 220px;
	bottom: 90px;
	left: -37.5px;
	background: LightGray;
}

#color_Palette > div {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

	#color_Palette > div:before,
	#color_Palette > div:after {
		position: absolute;
		content: "";
		height: 0;
		width: 0;
		top: 100%;
		left: 50%;
		border: 1px solid LightGray;
	}

	#color_Palette > div:before {
		border-top: 0px solid LightGray;
	}

	#color_Palette > div:after {
		border-color: rgba(0, 0, 0, 0);
		border-top-color: LightGray;
		border-width: 12.5px;
		margin-left: -12.5px;
	}

	#color_Palette > div > div:nth-child(2),
	#color_Palette > div > div:nth-child(3) {
		position: relative;
		display: block;
		width: 100%;
		height: 51px;
	}

	#color_Palette > div > div:nth-child(2) > div:last-child,
	#color_Palette > div > div:nth-child(3) > div:last-child {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		align-content: space-between;
		width: 100%;
		height: 30px;
	}

/* #color_Palette input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: transparent;
	height: 7px;


	border: 1px solid #bdc3c7;
	border-radius: 10px;
	cursor: pointer;
} */

	/* #color_Palette > div > div:last-child input  */
	/* #strokeWidth_Inpt */
	#color_Palette input[type="range"] {
		-webkit-appearance: none;
		position: relative;
		width: 50%;
		height: 5px;
		margin: 12.5px auto;
		border: 1px solid #626262;
		border-radius: 10px;
		background: White;
		cursor: pointer;
	}


	#color_Palette input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		background: MediumSeaGreen;
			/* background-color: #ECF0F1; */
		border: 0px solid #bdc3c7;
		width: 12.5px;
		height: 12.5px;
		border-radius: 10px;
		box-sizing: content-box;
		cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur), default !important;
			/* cursor: grab;					//  ALternative Cursor Option:  ew-resize; //  */
	}

		#color_Palette input[type="range"]::-webkit-slider-thumb:selection {
			cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/closedhand.cur), default !important;		
				/* cursor: grabbed;				//  ALternative Cursor Option:  ew-resize; //  */	
		}


	#customColor {
		-webkit-appearance: none; 
		position: absolute;
		display: block;
		height: 20px;
		width: 20px;
		top: 50%;
		left: 5px;
		transform: translateY(-50%);
		margin: 0;
		padding: 0;
		vertical-align: top;
		border: none;
		border-radius: 50%; 
		box-sizing: content-box; 
		overflow: hidden; 
	}

	#customColor::-webkit-color-swatch-wrapper {
    	padding: 0;
        border-radius: 50%;
    }

    #customColor::-webkit-color-swatch {
    	border: none;
    }

	#strokeWidth_Lbl,
	#opacity_Lbl {
		position: relative;
		width: auto;
		margin: auto;
		text-align: center;
		font: 600 14px/30px PT Sans, Helvetica, sans-serif;
		color: MediumSeaGreen;														/*  #626262;  */
	}


.color_Row {
	display: block;
	position: relative;
	width: 100%;
	height: 30px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.color_Cont {
	position: relative;
	display: inline-block;
	height: 30px;
	width: 30px;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

#color_Palette h4 {
	position: relative;
	display: block;
	width: 100%;
	height: 20px;
	margin: 0;
	padding: 0;
	/* border-bottom: 1px solid linear-gradient(to left, LightGray 5%, Black 50%, LightGray 95%); */			/*  <-- Invalid: Can't use linear-gradient 	*/
	border-bottom: 1px solid DimGray;
	/* background: White; */
	font: 14px/20px Play, Helvetica, sans-serif;
	text-shadow: 0 0 1px DimGray;
	text-align: center;
}

.color_Div {
	display: block;
	position: absolute;
	width: 20px;
	left: 5px;
	height: 20px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	/* border: 1.5px solid Black; */
}	

	.color_Div:hover {
		cursor: pointer;
		/* box-shadow: 0 0 4px 1.5px White; */
	}


#mapContainer {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 0px;
	overflow: hidden;
	z-index: 7;
}

#coords_Div {
	/* direction: ltr; */
    overflow: hidden;
    text-align: left;
    position: relative;
    color: rgb(0, 0, 0);
    font-family: Roboto, Arial, sans-serif;
    /* -webkit-user-select: none; */
    width: 100px;
    font-size: 11px;
    padding: 8px;
    margin: 10px;
    border-radius: 2px;
   	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
}

#coord_Lat, #coord_Lng {
	display: block;
	text-align: left;
	position: relative;

}

#mainHeadingHR {
	position: relative;
	width: 95%;
	padding: 10px;
}

	.mainHeadingHR {
		position: absolute;
		width: 100%;
		margin: 0px; 
		padding: 0px;
		border: 0px;
		height: 3px;
		background: White;
	}

	#mainHeadingHR1 {
		background: linear-gradient(to left, rgba(255, 255, 255, 0), DimGray, rgba(255, 255, 255, 0));
		top: -1.2px;
		left: -2px;
	}

	#mainHeadingHR2 {
		background: linear-gradient(to left, rgba(255, 255, 255, 0), White, rgba(255, 255, 255, 0));
		top: -1px;
		left: 0px;
		height: 4px;
	}

	#mainHeadingHR3 {
		background: linear-gradient(to left, rgba(255, 255, 255, 0), #7EFCEF, rgba(255, 255, 255, 0));
		top: 3px;
		left: 2px;
		height: 2px;
	}


.tripMenuHR {
	border: 0px;
	height: 2px;
	width: 75px;
	position: relative;
	display: block;
	margin: 0px;
	padding: 0px;
	background: White;
	/* background: linear-gradient(to left, rgba(255, 255, 255, 0.05) 5%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.05) 95%); */		
}

.tripMenuHR2 {
	border: 0px;
	height: 2px;
	width: 60px;
	position: relative;
	display: block;
	margin: 0px;
	padding: 0px;
	background: White;
}


#tripsContainer {
	position: relative;
	height: auto;
	width: 95%;
	min-height: 100%;
	background-image: url("../Graphics/White_Block.png");
	top: 15px;
	padding: 0 20px 10% 0;
	bottom: -50px;
	left: 5%;
	border-radius: 25px 0 0 0;
	box-shadow: -4px -4px 15px DimGray;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 6;
}

.trip {
	box-shadow: -2px -2px 2px DimGray; 
	position: relative; 
	left: 3.5%; 
	top: 20px;
	overflow-x: hidden; 
	width: 90%;
	height: 115px;
	margin: 5% auto;
	display: block;
	overflow: hidden;
}

	.tripClicked {
		height: auto;
		display: block;
		width: 90%;
		position: relative;
		box-shadow: -2px -2px 2px DimGray, 0.2px 0.2px 1px DimGray; 
		left: 3.5%; 
		top: 20px;
		margin: 5% auto;
		overflow: hidden;
	}


.BannerContainer {
	background: LightGray;	
	cursor: pointer;
	transition: box-shadow 1s ease-out, left 0.25s ease;
	box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0);
	left: 0;
}

	.BannerContainer:hover, .BannerContainer:focus {
		box-shadow: inset 3px -3px 3px rgba(192, 192, 192, 0.75);
		left: 1px;
	}


#btnsBar {
	position: absolute;
	display: block;
	width: auto;
	height: 60%;
	z-index: 22;
	bottom: 20%;
	left: 0;
	margin-top: 10%;
	padding: 0px;
	border-radius: 15% 0 15% 0;
}

	#btnsBar button:hover {
		cursor: pointer;
	}

	#btnsBar div:hover, 
	#btnsBar h5:hover {
		cursor: default;
	}


#glyphOne, #doubleChevron {
	transform: rotate(0deg);
	transition: transform ease-out 0.5s;
	font: 700 50px/75px Droid Sans, Helvetica, sans-serif;
}

#toolsNavBar {
	position: absolute;
	display: none;
	height: auto;
	width: 75px;
	right: 0;
	left: 0;
	margin: 0;
	padding: 0;
	top: 75px;
	border-radius: 0;
	border-top: none;
	/* overflow: hidden; */
}

#toolsNavBar > div {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	height: auto;
	width: 75px;
	height: 65px;
}

#toolsNavBar > div button {
	display: block;
	position: relative;
	width: 62.5px;
	height: 64px;
	border-radius: 0;
	margin: auto;
	border-bottom: none;
	background-color: Gray;
	font: 700 50px/64px Droid Sans, Helvetica, sans-serif;
	vertical-align: middle;
}

	#toolsNavBar > div > div > button:hover {
		background: White;
		border-radius: 15px 0 15px 0;
	}

	#toolsNavBar > div > div:nth-child(2) {
		display: inline-block;
		background: rgba(255, 255, 255, 0);
		width: 62.5px;
	}

		#toolsNavBar > div:last-child > div:nth-child(2) button {
			height: 64px;
		}

		#toolsNavBar > hr + div button {
			height: 65px;
		}


	#toolsNavBar > div > div:first-child {
		display: inline-block;
		width: 12.5px;
		height: 100%;
		left: 0;
		float: left;
		border-right: 2px solid White;
		box-sizing: border-box;
		background: MediumSeaGreen;
		color: White;
		font: bold 12px Play, Helvetica, sans-serif;
	}

		#toolsNavBar > div:first-child > div:first-child,
		#toolsNavBar > div:last-child > div:first-child {
			height: 130px;
		}

		#toolsNavBar > div:nth-child(2) > div:first-child {
			height: 65px;
		}

		#toolsNavBar > div:last-child > div:first-child {
			border-bottom: none;
		}

		#toolsNavBar div h5 {
			transform: rotate(-90deg);
			text-transform: uppercase;
			text-align: center;
			width: 100%;
			height: auto;
			position: relative;
			display: block;
			margin: auto;
			padding: 0;
			top: 50%;
		}

		#toolsNavBar > div:first-child > div:nth-child(2) {
			display: inline-block;
			float: right;
			height: 130px;
			width: 62.5px;
		}

		#toolsNavBar > div:first-child > div:nth-child(2) button {
			height: 64px;
		}

		#toolsNavBar > div:nth-child(2) > div:nth-child(2) {
			display: inline-block;
			float: right;
			height: 65px;
		}


	#toolsNavBar > div:last-child > div:last-child > button:first-child {
		text-align: center;
		position: relative;
	}

	#toolsNavBar > div:last-child > div:last-child > button:first-child img {
		position: absolute;
		height: 40px;
		width: auto;
		top: 12.5px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		transition: all 0.5s ease-out;
	}

		#toolsNavBar > div:last-child > div:last-child > button:first-child:hover img {
			position: absolute;
			width: auto;
			height: 50px;
			top: 7.5px;
			margin: 0 auto;
		}


	#toolsNavBar > div:last-child > div:last-child > button:last-child {
		border-radius: 0 0 15px 0;
	}

	#toolsNavBar > div:last-child > div:last-child > button:hover {
		border-radius: 15px 0 15px 0;
	}

#path_Btn.activated {
	background: MediumSeaGreen;
}

	#path_Btn.activated img {
		width: 60px;
		margin: auto;
	}


#googs img {
	border-radius: 50%;
	height: 40px; 
	width: auto; 
	position: relative; 
	transition: height 0.5s ease-out;
	display: block;
	margin: auto;
}
	#googs > a {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		position: relative;
	}

	#googs:hover img {
		height: 50px;
	}	
	

.glyphTwo {
	font: 700 50px/62.5px Droid Sans, Helvetica, sans-serif;
	transition: font 0.5s ease-out;
}

	#toolsNavBar  button:hover .glyphTwo {
		font: 700 65px/62.5px Droid Sans, Helvetica, sans-serif;
	}


	#tripSummary img {
		height: 40px; 
		width: auto; 
		margin: auto; 
		position: relative;
		display: block;
		transition: height 0.5s ease-out;
	}

		#tripSummary:hover img {
			height: 50px;
			/* box-shadow: -0.1px -0.1px 5px 1px MediumSeaGreen; */
		}


.toolTip_Txt, 
.toolTip_Txt2,
.toolTip_Txt3 {
	background-color: DarkSlateGray;
	color: White;
	text-align: center;
	padding: 5px 2px;
	position: absolute;
	border-radius: 10px;
	font: normal 10px/10px Helvetica, sans-serif;
	z-index: 1000;
	overflow: visible;	
	visibility: hidden;
}

.toolTip_Txt {
	left: 110%;
	top: 12px;
	min-width: 100px;
	width: 100%;
	height: auto;
}	

.toolTip_Txt3 {
	left: 3px;
	bottom: 110%;
	width: 65px;
	height: auto;
}

	.toolTip_Txt3:before {
		content: "";
		display: block;
		position: absolute;

		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid transparent;
		bottom: -10px;
		width: 0;
		height: 0;

		top: 120px;
		z-index: 10000;

	}

	#googs .toolTip_Txt {
		left: 35px;
		top: -30px;	
		width: 100%;
		height: auto;
	}

	#googs:hover .toolTip_Txt {
		visibility: visible;
		overflow: visible;
	}


#modalForm .toolTip_Txt2 {
	left: 0;
	bottom: 110%;
	width: 100%;
	height: auto;
}

.toolTip:hover .toolTip_Txt,
.toolTip:hover .toolTip_Txt2,
.toolTip:hover .toolTip_Txt3 {
	visibility: visible;
}


legend .top {
	color: White;
	font: bold 28px/26px Play, Arial, sans-serif;
	text-shadow: 1px 1px 1px #00ffe6, -1px -1px 1px dimgray;
	width: auto;
	margin: 0;
	padding: 0;
	display: block;
}

legend .bottom {
	font: italic 16px/16px Play, Helvetica, sans-serif;
	top: 4px;
	color: rgba(255, 255, 255, 0.75);
	display: block;
}

#dropRightBtn {
	position: relative;
	display: block;
	width: 75px;
	height: 75px;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	transform: rotate(0deg);
	transition: transform 0.5s ease-out;
}


#addTripBtn {
	font-family: Roboto;
	font-size: 24px;
	font-weight: bold;
	width: 150px;
	height: 20px;
	position: relative;
	display: inline;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}

	#addTripBtn:hover, #dropRightBtn:hover {
		background-color: #D6D4D4;
		box-shadow: 0 0 5px 1px White;
	}


#titleHeader {
	color: White;
	font-family: "Allerta Stencil";
	text-align: center;
	font-size: 50px;
	font-variant: small-caps;
	line-height: 0px;
	text-shadow: 2px 2px 1px #00FFE6, -2px -2px 1px DimGray;
} 

.headerRuler {
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 45%, rgba(255, 255, 255, 1) 92%, rgba(255, 255, 255, 0.9) 99%);
	border: none; 
	outline: none; 
	box-shadow: none;
}

#headDiv {
	display: block;
	width: 70%;
	margin: 0 auto;
	z-index: 5;
}

.date_ListItem div {
	display: block; 
	position: relative; 
	width: 70%; 
	height: auto; 
	margin-right: 20%;
	padding-right: 20px;
	left: 0;
	font: italic 14px/12px Helvetica, sans-serif;
	color: DimGray;
}

.btn, 
.btn2 {
	background-color: MediumSeaGreen;
	color: White;
	box-shadow: 0 0 0 Silver;
	transition: background-color 0.5s 0.05s ease, color 0.5s 0.05s ease, box-shadow 0.5s 0.05s ease;
	border: none;
}

	.btn:hover, 
	.btn2:hover {
		background-color: White;
		color: MediumSeaGreen;						/* Teal: Hex Code... #0EB7B7 */
		box-shadow: 0 0 2px Gray;
	}

	.btn:focus, .btn:active, .btn:visited,
	.btn2:focus, .btn2:active, .btn2:visited {
		border: none;
		box-shadow: none;
	}


.XButton {
	position: absolute;
	color: White;
	top: 5px;
	right: 5px;
	width: 60px;
	height: 60px;
	font: bolder 60px/60px Play, Helvetica, sans-serif;
	border: none;
	background: none;
	margin: 0;
	padding: 0;
}

	.XButton:hover,
	#right_Collapse > .XButton:hover {
		cursor: pointer;
		background: none;
		box-shadow: none;
		color: MediumSeaGreen;
	}


#right_Collapse {
	height: auto;
	width: 0;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	background: rgba(255, 255, 255, 0.95);
	overflow: hidden;
	z-index: 2000;
	animation: rightCollapse 2s 0.1s ease-in-out forwards;
}

	#right_Collapse > div:first-child {
		position: relative;
		display: block;
		width: 100%;
		height: auto;
		animation: expandFromCenter 2s 5s forwards;
	}

	#right_Collapse > .XButton {
		color: black;
		animation: fadeIn 1s 3s forwards;
	}

	/* #right_Collapse > * {
		animation: fadeIn 2s 3s forwards;
		visibility: hidden;
	} */


#centerExpand_HR {
	position: relative;
	visibility: hidden;
	display: block;
	width: 100%;
	height: 3px;
	border: none;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.05) 1%, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0.05) 99%);
	margin: 20px auto;
	animation: expandFromCenter 2s 3s linear forwards;
}

#summaryTitle {
	width: 90%;
	margin: 3% auto 20px auto;
	text-align: center;
	position: relative;
	font: 700 80px/65px Play, Helvetica, sans-serif; 
	font-variant: small-caps;
	z-index: 2100;
	visibility: hidden;
	animation: fadeIn 2s 3s forwards;
}

#summarySubtitle {
	width: 90%;
	margin: auto;
	text-align: center;
	position: relative;
	font: 30px/28px Helvetica, sans-serif;
	color: silver;
	visibility: hidden;
	animation: fadeIn 2s 3s forwards;
}

/* #summaryTitle_Active {
	width: 90%;
	margin: auto;
	text-align: center;
	position: relative;
	font: bold 50px/45px Play, Helvetica, sans-serif;
	z-index: 2100;
	animation: fadeIn 3s 1s ease forwards;
} */

#summaryBody {
	background: LightGray;
	width: 100%;
	display: block;
	position: relative;
	height: auto;
	min-height: 600px;
	margin: 2% auto;
	overflow: hidden;
	visibility: hidden;
	animation: fadeIn 1.2s 6s forwards;
}

	#summaryBody > div:first-child {
		width: 75%;
		height: 550px;
		top: 25px;
		position: relative;
		margin: auto;
		display: block;
		background: White;
		overflow: hidden;
		border-radius: 50px 0 50px 0;
		box-shadow: -2px -2px 15px 5px DimGray;
	}


#filter_Cont {
	width: 6%;
	height: 100%;
	position: absolute;
	left: 0;
	display: inline-block;
	left: 0;
	margin: 0;
	padding: 0;
	border-right: 3px solid Black;
	z-index: 11;
	overflow: hidden;
}
	
	#filter_Cont > div:first-child {
		border-radius: 50px 0 0 0;
	}

	#filter_Cont > div:first-child, #filter_Cont > div:nth-child(2) {
		border-bottom: 3px solid black;
		height: 33%;
	}

	#filter_Cont > div:last-child {
		height: 34%;
		top: 0;
	}


.filter_Btn {
	display: block;
	position: relative;
	width: auto;
	margin: auto;
	text-align: center;
	padding: 0;
	color: White;
	background: MediumSeaGreen;
	overflow: hidden;
	transition: background 1s 0.1s ease, color 1s 0.1s ease;
}

	.filter_Btn:hover {
		background: White;
		color: MediumSeaGreen;
		cursor: pointer;
	}

	.filter_Btn h2 {
		width: 100%;
		height: auto;
		margin: auto;
		position: relative;
		top: 50%;
		transform: rotate(-90deg);
		text-align: center;
		padding: 0;
		font: 700 32px/32px Droid Sans, Play, sans-serif;
		font-variant: small-caps;
	}


#results_Cont {
	display: inline-block;
	background: White;
	width: 94%;
	height: 100%;
	float: right;
	padding: 0;
	margin: 0;
	overflow: hidden;
	z-index: 10;
}

	#results_Cont > div:first-child {
		float: left;
		overflow-y: scroll;
		overflow-x: hidden;
		text-align: center;
		border: 1px solid black;
	}

	#results_Cont > div:last-child {
		margin: 0;
	}

	.result:last-child div {
		/* visibility: hidden; */
	}

.result {
	width: 100%; 
	height: 100%;
	display: none;
	position: relative;
	left: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
	border-radius: 0 0 50px 0;
}
	
	.result > h3 {
		width: 100%;
		height: 40px;
		top: 0;
		margin: 0;
		padding: 0;
		text-align: center;
		background: White;
		font: 20px/40px PT Sans, Helvetica, sans-serif;
		color: MediumSeaGreen;
		border-bottom: 3px solid Black;
	}

	.result > div {
		top: 40px;
		height: 100%;
		/* overflow: scroll; */
	}

	.result:last-child > div > div:nth-child(odd) {
		background: rgba(255, 255, 255, 1.0);
	}

	.result:last-child > div > div:nth-child(even) {
		background: rgba(192, 192, 192, 0.25);
	}



#selectedFilter {
	background: White;
	position: relative;
	width: auto;
	margin: auto;
	text-align: center;
	padding: 0;
	overflow: hidden;
	font: 700 36px/36px Droid Sans, Play, sans-serif;
	color: MediumSeaGreen;
	display: block; 
}

#selectedResult {
	display: block;
}

.haventBeen {
	background-color: LightGray;
	opacity: 0.3;
}

	.haveBeen {
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		background-color: MediumSeaGreen; 				/* Beige: rgb(244, 241, 168); */
		color: White;
	}		


#chart {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;	
	margin: auto 0;
	padding: 0;
	clear: both;
	visibility: hidden;
	animation: fadeIn 1.2s 7s forwards;
}

#myCanvas {
	background: Gray url("../Graphics/World_Map_Blue.png") center center/cover no-repeat;
	border-radius: 50px 0 50px 0;
	border: none;
	box-shadow: -2px -2px 15px 5px DimGray;
	position: relative;
	display: block;
	margin: 0 0 0 200px;
}




/*	GOOGLE MAPS CUSTOM STYLES 	*/

/* Styling of the LEFT-TOP MapTypesControls <div> container, augmenting width marginally: 	*/
.gmnoprint.gm-style-mtc > div:first-child {
	width: 77.5px;
}

